@media only screen and (max-width:1200px){
 
     .galleries{
         grid-template-columns: repeat(3,1fr);
     }
     .images{
         column-count: 3;
     }
 
}
@media only screen and (max-width: 900px){
    
        .galleries{
            grid-template-columns: repeat(2,1fr);
        }
        .images{
            column-count: 2;
        }

}
@media only screen and (max-width: 600px){
  
    .row-mobile-reverse{
        flex-direction: column-reverse;
    }
    .row-mobile-wrap{
        flex-wrap: wrap;
    }
    .row-column{
        flex-direction: column;
    }
    .col-mobile-full{
        width: 100% !important;
    }
    .col-mobile-half{
        width: 50% !important;
    }

    .galleries{
        grid-template-columns: repeat(1,1fr);
    }

    /* Texts */
    .heading-mobile{
        font-size : 1.7em !important;
    }

    /*Buttons */
    .btn{
    font-size: 11px;
    padding: 0.7em 1.5em;
    }
    .btn-hide-on-mobile{
        display: none;
    }

    .btn-mobile-lg{
        border-radius: 3px;
        padding: 0.7em 2em;
    }
    
/* Main Navigation */
.main-navigation{
    img{
        width: 100px;
    }
    .menu-icon{
        display: block;
        width: 25px;
    }
    
}

.images{
    column-count: 1;
    line-height: 3em;
}
.image{
    .details{
        padding: 0 0 2em 0;
        p{
            margin: 0.7em 0;
        }
        .back{
            display: none;
        }
        br{
            display: none;
        }
    }
}
   
.form-container{
    width: 80%;
    .create_gallery{
        height: 170px;
    }
    .form-area{
        padding: 2em;
    }
}

input{
    width: 80%;
}
.text-small{
    font-size: 1.5em !important;
}

.container{
    width: 90%;
}
}

